<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
    <display-name>Gestionale</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ImpiegatoSrv</display-name>
    <servlet-name>ImpiegatoSrv</servlet-name>
    <servlet-class>ctr.ImpiegatoSrv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImpiegatoSrv</servlet-name>
    <url-pattern>/ImpiegatoSrv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoricoSrv</display-name>
    <servlet-name>StoricoSrv</servlet-name>
    <servlet-class>ctr.StoricoSrv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoricoSrv</servlet-name>
    <url-pattern>/StoricoSrv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RuoloSrv</display-name>
    <servlet-name>RuoloSrv</servlet-name>
    <servlet-class>ctr.RuoloSrv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RuoloSrv</servlet-name>
    <url-pattern>/RuoloSrv</url-pattern>
  </servlet-mapping>
</web-app>